@font-face {
    font-family: 'Verdana';
    src: url('Verdana-Bold.woff2') format('woff2'),
        url('Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('Verdana.woff2') format('woff2'),
        url('Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Block Berthold';
    src: url('BlockBE-Regular.woff2') format('woff2'),
        url('BlockBE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

