@import "../fonts/stylesheet.css";


// Margin variables
$marginSmall: 10px; 
$marginNormal: 20px;
$marginBig: 30px; 

// Colors
$red : #FF0000; 

// Fonts
$fontText : "Verdana", sans-serif;
$fontTitle: "Block Berthold", sans-serif;

// FontSize
$sizeMenu: 25px;
$sizeSubmenu: 18px;
$sizeText: 15px;
$sizeH1: 37px; 

@mixin H1{
	font-size: $sizeH1;
	font-family: $fontTitle;
} 

