// -------------- MOBILE-FIRST ARTCLE --------------

.sidebar-left{
	border-bottom: 8px solid #000;
	li{
		margin: 0; 
		padding: 0; 
		border-right: 8px solid #000; 
		&:nth-child(3n) {
			border-right: none;
		}
	}
}

.sidebar-right{
	border-top: 8px solid #000;
	color: $red;
	font-size: $sizeSubmenu; 
	font-weight: bold;
	background: $red;
	li{
		background: #FFF; 
		border-bottom: 8px solid #000;
	}
}

// -------------- DESKTOP ARTICLE --------------
@media only screen and (min-width: 64em){

	.sidebar-left{
		border-right: 8px solid #000;
		background: $red;
		li{
			border-right: none;
			border-bottom: 8px solid #000; 
		}
	}

	.sidebar-right{
		border-left: 8px solid #000;
		border-top: 0; 

	}

}