// I M P O R T
// -------------- MOBILE-FIRST --------------
@import "_variables.scss";

*{
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
	margin: 0 0px; 
  font-size: 12px; 
  font-family: $fontText;
  background: #FFF;
}

// -------------- RESET.CSS --------------
ul, ol{margin:0; padding:0;}
li{list-style:none;}
a{color: #000;text-decoration: none;}
a:visited{color: $red;}
img {width: 100%;}
figure{margin:0;}
p{font-size: $sizeText;}
h1{@include H1; }

// -------------- IMPORT TEMPlATES STYLES --------------
@import "header.scss";
@import "home.scss";
@import "article.scss";
@import "list.scss";



// -------------- MOBILE-FIRST GENERAL --------------
.show-for-small-only{
	display:block;
}

.hide-for-small-only{
	display:none;
}

main, main.row{
  padding-top: 61px;
  border: 8px solid #000; 
  margin: 0px;
  min-height: 95vh;
}

.rouge{
  color: $red; 
}

.breadcrumb{
  background: #FFF; 
  text-align: center; 
  padding: $marginSmall;
  font-size: $sizeMenu;
  font-family: $fontTitle;
  li{
    display: inline-block; 
    &:first-child:before{
      content: "";
    }
    &:before{
      content: ">";
    }
    a.active{
      color: #000; 
    }
  }
}

.content{
  padding: 0; 
  article{
    padding: $marginNormal $marginBig;
    position: relative; 
  }
}

.related{
  border-top: 8px solid #000; 
  li{
    a{
      color: $red;    
      &:before{
        content: "—";
      }
    }
    font-size: $sizeSubmenu;
    font-weight: bold;
    margin-bottom: $marginSmall;

  } 
}

// -------------- DESKTOP GENERAL --------------
@media only screen and (min-width: 64em){
  body{
    margin: 0 50px; 
  }

  .show-for-small-only{
      display:none !important;
  }
  .hide-for-small-only{
      display:block !important;
  }
  main, main.row{
    padding-top: 95px;
  }
  .breadcrumb{
    border-bottom: 8px solid #000; 
  }
  .related{
    position: absolute;
    right: -50%;
    width: 48.7%;
    bottom: 100px; 
    background: #FFF;
    padding: 0 $marginSmall $marginSmall;
    border-bottom: 8px solid #000; 
    a{
      &:hover{
        color: #000; 
      }
    }
  }
}





