@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  margin-bottom: 60em;
  background: #f0f0f0;
  line-height: 1.2; }

main {
  margin-top: 60px;
  padding: 0 2.5em; }

ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:visited {
  color: #000; }

img {
  width: 100%; }

figure {
  margin: 0; }

table {
  border-collapse: collapse;
  width: 100%; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

header {
  border-bottom: 1px solid #000; }
  header h1 {
    text-align: center; }

.box {
  border: 1px solid #000;
  padding: 20px;
  position: relative;
  top: -2px; }
  .box h2 {
    text-align: center; }

.article-meta {
  text-align: center; }
  .article-meta .tag:after {
    content: "/";
    margin-left: 5px; }

.recette h1 {
  font-family: "YoungSerif";
  font-size: 5em;
  margin: auto;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 80%;
  text-align: center; }

.recette h2 {
  text-transform: uppercase;
  font-size: 1.2em; }

.recette li {
  font-size: 1rem; }

.recette .meta-recipe {
  margin-top: 50px; }
  .recette .meta-recipe div {
    text-align: center; }
    .recette .meta-recipe div h2 {
      margin: 5px; }
    .recette .meta-recipe div p {
      margin: 0;
      font-size: 1.1em; }
    .recette .meta-recipe div.tags {
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: bold;
      margin-top: 60px; }
      .recette .meta-recipe div.tags a:hover {
        font-style: italic; }
      .recette .meta-recipe div.tags a .tag:after {
        content: ","; }
      .recette .meta-recipe div.tags a:last-child .tag:after {
        content: ""; }

.recette .changeportion {
  display: inline-block;
  border: 1px solid #000;
  margin-left: 10px;
  padding: 3px 5px;
  cursor: pointer; }

.recette .portion {
  width: 250px;
  margin: auto;
  padding-top: 0; }

.recette .ingredients {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  width: 25%; }
  .recette .ingredients li {
    font-size: 0.9rem;
    list-style: disc;
    margin-bottom: 5px; }
  .recette .ingredients ul {
    padding-left: 15px; }

.recette .comments {
  border: 1px solid #000;
  padding: 5px 10px;
  margin-top: 20px;
  background: #FFF;
  width: 25%; }
  .recette .comments p, .recette .comments li {
    font-size: 0.8rem; }
  .recette .comments li {
    list-style: disc;
    margin-bottom: 5px; }
  .recette .comments ul {
    padding-left: 15px; }

.recette .article-text {
  position: relative; }

.recette .deroule {
  margin-bottom: 40px;
  width: 70%;
  margin-left: 30%;
  position: absolute;
  top: 0em; }
  .recette .deroule ol, .recette .deroule ul {
    padding: 0; }
    .recette .deroule ol li, .recette .deroule ul li {
      margin-bottom: 20px; }

.screen {
  display: block; }

.print {
  display: none; }

@media screen {
  .recette h1 {
    margin-bottom: 3rem; }
  .recette .portion {
    margin: 0; }
  .deroule {
    max-width: 50%; } }

@media print {
  .screen {
    display: none !important; }
  .print {
    display: block; }
  @page {
    size: A4;
    margin: 1cm; }
  body {
    background: transparent; }
  header {
    display: none !important; }
  header, .arrow-back {
    display: none; }
  main {
    margin-top: 0; }
  .article .box {
    border: none; }
  input {
    border: none; }
  .recette .portion {
    padding-left: 56px; }
    .recette .portion span, .recette .portion input {
      display: inline-block;
      font-weight: bold;
      font-size: 1.2em; }
    .recette .portion input {
      width: 30px; }
    .recette .portion span {
      text-transform: uppercase; }
  .recette .meta-recipe {
    margin-top: 0; } }
